.icon
  = link_to "#" do
    = image_tag('fly.png', width: '240')
    %h3.sidebar-label
      Бесплатный ознакомительный тур
.icon
  = link_to turkey_news_index_path do
    = image_tag('michat.png', width: '240')
    %h3.sidebar-label
      Все о Турции
