= render 'shared/nav'
.right_clmn
  .tour
    %h2.label
      Бесплатный ознакомительный тур
    .tour-content

      %p
        Когда вы выбираете недвижимость для отдыха или проживания, вы учитываете сразу несколько факторов. Это качество недвижимости, привлекательная стоимость, выгодные инвестиции, благоприятные климатические условия и, конечно же, атмосфера страны, в которой вы хотите приобрести своё будущее жилье.

      %p
        Если вы уже задумались о приобретении недвижимости для семейного отдыха, то настал удачный момент совместить приятное с полезным. Мы понимаем, что не побывав в стране сложно принять решение о покупке, даже если вам уже заочно все нравится. Именно поэтому мы предлагаем вам погрузиться в атмосферу вечного лета и живописных пейзажей Турции для того, чтобы окончательно убедиться в правильности своего выбора.

      %p
        Наша Компания Alanya Properties предлагает Вам организацию ознакомительного тура в Турцию с целью приобретения недвижимости на 3 или более дней. Оптимально 5 дней.

      %ul
        %li
          %b
            Бронирование дат.
          Мы хотим гарантировать вам наше полное внимание, и поэтому просим вас заранее сообщить нам планируемые даты посещения Турции, чтобы мы могли обеспечить бронирование дат в нашем расписании


        %li
          %b
            Встреча в аэропорту (трансфер).
          Вас встретит представитель нашей компании на автомобиле с водителем.


        %li
          %b
            Размещение в апартаментах или отеле.


        %li
          %b
            Консультации по вопросам приобретения недвижимости.


        %li
          %b
            Показ объектов недвижимости на автомобиле компании с русскоговорящим сотрудником компании.
          Просмотр объектов, общение с владельцем недвижимости или застройщиком и уточнение текущей цены на недвижимость. Каждый день квалифицированные специалисты будут демонстрировать вам лучшие в своем сегменте предложения, знакомить с местной инфраструктурой, рассказывать о популярных местах, объяснять в чем преимущества того или иного месторасположения или посёлка. Если это дом или квартира, то вам покажут окрестности и находящиеся рядом достопримечательности, ближайшие пляжи и магазины. Вы сможете отобедать или выпить чашечку кофе в ресторане напротив и погрузиться в атмосферу вашего будущего времяпрепровождения в новом доме.


        %li
          %b
            Подписание Договора на покупку недвижимости между Продавцом и Вами.
          При выборе интересующего Вас объекта, наши юристы бесплатно проверяют объект на чистоту и готовят документы для подписания Договора на покупку между Продавцои и Вами. Готовят все необходимые документы.


      .span
        * В случае приобретения Вами недвижимости от Компании Alanya Properties, наша Компания покрывает Ваши расходы на поездку, включая перелет, трансфер и проживание, в зависимости от суммы покупки.

      %hr


    .email

