<% @content_class = 'services_page' %>
<%= render 'shared/turkey_navbar' %>

        <div class="right_clmn">
            <h3><%= @turkey_news.title %></h3>

            <div class="services_content clearfix">
              <%= raw @turkey_news.body %>
            </div>
        </div>


        <div class="clear"></div>


