@import "base/base";

.offer_link .offer_info {
  display: none;
}

a.offer_link:hover {
  .offer_info {
    display: block;
  }
  .plus {
    display: none;
  }
}


.offers {
  margin: 0 -25px 0 0;
}

.offer_link {
  background: image-url("offers_bg.png") no-repeat center bottom;
  padding: 0 0 8px;
  width: 222px;
  height: 175px;
  float: left;
  margin: 0 24px 0 0;
  position: relative;
  z-index: 1;
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
  }
  img {
    width: 218px;
    height: 171px;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0px rgba(185, 185, 185, 1);
    box-shadow: 0 1px 2px 0px rgba(185, 185, 185, 1);
  }
  .offer_info {
    position: absolute;
    width: 204px;
    padding: 2px 7px;
    bottom: 10px;
    z-index: 2;
    left: 2px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    font-size: 11px;
    line-height: 11px;
  }
  .title {
    font-weight: bold;
  }
  .price {
    float: right;
    font-size: 24px;
    line-height: 24px;
    margin: 6px 0 5px 10px;
  }
  &.new .offer_info {
    background-image: image-url("blue_blank.png");
  }
}


.ribbon-wrapper {
  @include size(100% 100%);
  @include position(absolute, -3px null null -3px);
  overflow: hidden;

  .ribbon {
    @include size(100% 45px);
    @include position(relative, 20px null null -78px);
    opacity: 0.8;
    @include transform(rotate(313deg));
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    &:before, &:after {
      content: "";
      border-top: 3px solid #6e8900;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      position: absolute;
      bottom: -3px;
    }
    &:before { left: 0; }
    &:after { right: 0; }
  }

  .ribbon__text {
    width: 100%;
    @include position(absolute, 20px null null -78px);
    padding: 7px 0;
    opacity: 1;
    font: bold 15px/15px Sans-Serif;
    color: white;
    text-align: center;
    text-shadow: rgba(139, 139, 139, 0.5) 0px 1px 0px;
    @include transform(rotate(313deg));
    word-spacing: 9999999px;
    z-index: 9999;
  }
}
.r-red    { @include background-image(linear-gradient($red, darken($red, 10%))); }
.r-orange { @include background-image(linear-gradient($orange, darken($orange, 10%))); }
.r-yellow { @include background-image(linear-gradient($yellow, darken($yellow, 10%))); }
.r-green  { @include background-image(linear-gradient($green, darken($green, 10%))); }
.r-blue   { @include background-image(linear-gradient($blue, darken($blue, 10%))); }
.r-purple   { @include background-image(linear-gradient($purple, darken($purple, 10%))); }
