<% wiselinks_title build_title_with_page %>
<ul class="apartment_list clearfix">
  <% if @properties.size > 0 %>
    <%= render @properties %>
  <% else %>
    <li style="text-align: center;" class="nothin"><h3>Результатов нет</h3></li>
  <% end %>
</ul>
<%= paginate @properties %>
<script>
  $('#seo-text').html("<%= j @seo_text %>");
  $('h1').text("<%= build_title %>")
</script>
