<% sliders = @city.try(:sliders) || @sliders %>

<% if sliders %>
<div class="main_slider_holder inner_slider_holder">
  <div class="main_slider inner_slider" id="main-slider">
    <div class="items_holder">
      <% sliders.each do |slider| %>
      <div class="item" style="background-image: url('<%= image_path slider.photo.small %>');">
        <%= link_to(image_tag('play_video_mini.png', size: '64x52'), slider.video, class: 'video play_video') if slider.video? %>
        <span class="item_info">
        <% if @city %>
            <span class="item_header"><%= @city.name %></span>
        <% end -%>
        </span>
      </div>
      <% end -%>
    </div>
    <div class="toggles">
      <% sliders.each do %>
        <i class="toggle"></i>
      <% end -%>
    </div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
  </div>
</div>
<% end -%>
