- offerable = offer.offerable

= link_to offerable, class: "offer_link" do
  - if offerable.cover.asset.present?
    = image_tag offerable.cover.asset.cover
  .ribbon-wrapper
    .ribbon{ class: "r-#{offer.color}" }
      = offer.title.present? ? offer.title : offerable.name
