<div class="top_offer">
    <span class="toffer_inner clearfix" style="background-image: url('<%= image_path 'top_offer.png' %> ')">
        <span class="toffer_holder clearfix">
            <span class="title">Алания, новый комплекс<br/>Рядом с морем, 2 недели</span>
            <span class="btn">ПОДРОБНЕЕ</span>
            <span class="cost">45 000 €</span>
        </span>
    </span>
</div>