<a class="some_tour" href="" title="">
            <span class="img_holder">
                <span class="title">ОЗНАКОМИТЕЛЬНЫЙ ТУР</span>
                <%= image_tag 'some_tour_img.png' %>
            </span>
  <span class="text1">Хотите изучить недвижимость<br />в Турции за наш счет?</span>
  <span class="text2">Участвуйте в наших<br />ознакомительных турах</span>
</a>