.dl-horizontal {
  dt {
    float: left;
    width: 100px;
    clear: left;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 18px;
  }
  dd {
    margin-left: 110px;
    height: 18px;
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}
