<% @content_class = 'services_page' %>
<%= render 'shared/turkey_navbar' %>
<div class="right_clmn">
  <h3> <%= @city.name %></h3>

  <div class="services_content clearfix">
    <%= raw @city.description %>
  </div>
</div>


<div class="clear"></div>


