/*
 *= require bootstrap_and_overrides
 *= require redactor-rails
 *= require DT_bootstrap
 *= require datepicker
 *= require_self
 */

.container, .navbar-fixed-top .container {
  width: 1188px;
}

.form-inline .span4 .controls {
    margin-left: 0;
}

.form-horizontal textarea.text {
    height: 50px;
}
