/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font
 *= require main
 *= require jquery-ui-1.9.2.custom
 *= require colorbox
 *= require_self
 */

.img a:focus, a.buy_item_map:focus {
    outline: none;
}

.cboxIframe {
    background: #e5e3df;
}

h3 {
    font-size: 20px;
}

#ui-datepicker-div {
  width: 223px;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    padding: 8px 0;
}

.results .apartment_list {
    width: 735px;
}

#datepicker-inner #ui-datepicker-div {
    left: 0 !important;
    top: 0 !important;
    position: relative !important;
}

#date-start, #date-end, #main-search-input {
    outline: none;
}

.form .field_with_errors .input, .form .field_with_errors textarea {
    border-color: red;
}

.order_form .field_with_errors .input, .order_form .field_with_errors textarea {

  color: #ed1c24;

  &::-webkit-input-placeholder { /* WebKit browsers */
    color: #ed1c24;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ed1c24;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ed1c24;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ed1c24;
  }
}

label.with_error {
  color: red;
}
.transfer_form fieldset {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.transfer_in.disabled, .transfer_out.disabled {
  fieldset {
    opacity: .2;
  }
  .disabled_layer {
    bottom: 0;
    width: 235px;
    position: absolute;
    height: 286px;
    /* background: white; */
    /* opacity: .2; */
    z-index: 2;
  }
}

.btn.disabled {
  background: #939598;
  text-transform: none;
  //font-size: 12px;
  //line-height: 15px;
  color: white;
  //padding: 2px 6px 1px;
}
