.buy_page {
  ul.breadcrumb {
    margin-left: 222px;
    margin-bottom: 0;
    li {
      display: inline;
      list-style-type: none;
    }
  }
}

.filter, .results {
  ul.breadcrumb {
    margin-left: 222px;
    li {
      display: inline;
      list-style-type: none;
    }
  }
}

.city_text, .city_content, .right_clmn {
  ul.breadcrumb {
    padding-left: 0;
    li {
      display: inline;
      list-style-type: none;
    }
  }
}

.services_page {
  ul.breadcrumb {
    padding-left: 0;
    a {
      color: #6d6e70;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -ms-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms;
    }
    li {
      display: inline;
      list-style-type: none;
    }
  }
}
