.header-number {
  position: relative;
  display: block;
  margin-bottom: -20px;
  padding: 10px 0 0 40px;

  .phone {
    display: inline-block;
    width: 470px;
    margin: 0 0 0 200px;
    .title{
      display: inline-block;

      p {
        text-align: right;
        margin: 5px 0
      }

    }
    .numbers{
      display: block;
      float: right;

      p {
        text-align: right;
        margin: 5px 0
      }

    }

  }
  .web {
    margin: 0 0px 0 0;
    float: right;
      p {
        text-align: left;
        margin: 9px 0
      }

  }

}
