.sub {
  display: none;
  background: #fbfbfb none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #a4a4a4;
  position: absolute;
  top: 137px;
  width: auto;

  min-width: 100px;
  z-index: 10;

  ul {
  font-size: 14px;
  line-height: 17px;
  list-style-type: none;
  padding: 0px 5px;

    a {
      text-decoration: none;
    }
  }

  &.about {
    margin: 0px 0px 0px 585px;
  }

  &.properties {
    margin: 0px 0px 0px 440px;
  }
  &.project {
    margin: 0px 0px 0px 340px;
  }


}
