.no-print,
.back_btn,
.buy_item_map,
.send_offer,
.b-count-of-views {
  display: none;
}
.item_price {
  float: right;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.buy_item_text {
  width: 71%;
  float: left;
}
.buy_item_info {
  width: 29%;
  float: right;
}
.buy_item .buy_item_photos .img {
  width: 103px;
  height: 77px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  float: left;
  margin: 0 0 12px 12px;
}
.buy_item_photos .img.big {
  width: 450px;
  height: 250px;
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
