.sidebar-label{
  background-color: #35b8b7;
  color: #6d6e70;;
  display: block;
  font-weight: bold;
  height: 22px;
  line-height: 1.31em;
  vertical-align: middle;
  width: 240px;
  margin-left: -10px;
  margin-top: 0px !important;
  margin-bottom:  0 !important;
  padding: 10px 0 10px 0;
  text-align: center
}
.sidebar-h2 {
  margin: 10px 0 !important;
  margin-left: 10px !important;
  &.m-bottom-none {
    margin-bottom: 0 !important;
  }
}
.submit-filter {
  margin: 10px 0 ;

  .btn.big {
    padding: 7px 70px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    border: 3px #CCCCCC solid;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   -khtml-border-radius:50px;
    border-radius: 50px;
    text-transform: none;
  }
}
.filter_section.property-for{
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 9px;
    padding-top: 15px !important;
    label {
      margin-left: 10px;
    }

    .radio-sidebar{
    }
}
.filter_section.cost-input{
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 9px;
    padding-top: 15px !important;

    input {
      width: 200px;
      height: 35px;
      font-size:  20px;
    }
    input:last-child {
      margin-top: 10px;
    }
  }
.filter_section.distance.general {
    padding-top: 0 !important
  }
ul.sidebar_list {
  list-style-type: none;
  padding: 0;

  li {
    margin: 5px 0

  }

  a {
    text-decoration: none;
    text-align:  left;
    font-size: 18px
  }

  ul {
    list-style-type: none;
    padding-left: 20px;


  }
}
.icon{
  display: block;
  margin-top: 20px;

  &:first_child {
    margin-top: none
  }

  a {
    text-decoration: none;
  }

  img {
    margin-left: -10px;
  }
  .sidebar-label {
    background-color: #35b8b7;
    color: #6d6e70;;
    display: block;
    font-weight: bold;
    line-height: 1.31em;
    vertical-align: middle;
    width: 240px;
    margin: 0 0 0 -10px !important;
    padding: 0 0 0 0;
    text-align: center;
    text-decoration: none;
    height: 100%;
  }


}
