.footer.no-print
  .inner.clearfix
    %ul.inline
      %li
        = link_to "Квартиры в Турции", buy_search_path(query: "ruby on rails")
      %li
        Квартиры в Анталии
      %li
        Квартиры в Алании
      %li
        Квартиры в Авсалларе
      %li
        Квартиры в Махмутларе
      %li
        Квартиры в Кестеле
    %ul.inline
      %li
        Квартиры в Кемере
      %li
        Квартиры в Белеке
      %li
        Квартиры в Сиде
      %li
        Квартиры в Фетхие
      %li
        Квартиры в Бодруме
      %li
        Квартиры в Измир
    %ul.inline
      %li
        Квартиры в Мерсине
      %li
        Квартиры в Стамбуле
      %li
        Квартиры в Чешме
      %li
        Виллы в Турции
      %li
        Виллы в Анталии
      %li
        Виллы в Алании
    %ul.inline
      %li
        Виллы в Авсалларе
      %li
        Виллы в Махмутларе
      %li
        Виллы в Кестеле
      %li
        Виллы в Кемере
      %li
        Виллы в Белеке
      %li
        Виллы в Сиде
    %ul.inline
      %li
        Виллы в Фетхие
      %li
        Виллы в Бодруме
      %li
        Виллы в Измир
      %li
        Виллы в Мерсине
      %li
        Виллы в Стамбуле
      %li
        Виллы в Чешме

/ END footer
