/ BEGIN header
.header-number
  .phone
    .title
      %p Бесплатные звонки для клиентов со всей России:
      %p Телефон в Турции:
      %p Телефон в Москве:
    .numbers
      %p 8 800 500 78 28
      %p +90 532 300 53 08
      %p +7 916 795 00 28
  .web
    %p
      = image_tag 'email_icon.png'
      info@alanyaproperties.com
    %p
      = image_tag 'skype_icon.png'
      alanyaproperties
= render "layouts/header_nav"
